* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.screen {
    background: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

.hidden {
    display: none;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

#start-btn{
    background-color: aqua;
    /* transition-timing-function: ease-in-out; */
    /* transition-duration: 2s; */
    /* transition-delay: 0.5s; */
}

#start-btn:hover{
    background-color: white;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
    transition-delay: 0.5s;
    border: 2px solid black;
    box-shadow: #9fc2e7;
    cursor: pointer;
}

#restart-btn{
    background-color: aqua;
    /* transition-timing-function: ease-in-out; */
    /* transition-duration: 2s; */
    /* transition-delay: 0.5s; */
}

#restart-btn:hover{
    background-color: white;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
    transition-delay: 0.5s;
    border: 2px solid black;
    box-shadow: #9fc2e7;
    cursor: pointer;
}